/* category component */

.category-title {
  display: block;
  text-align: start;
  margin-left: 40px;
  margin-top: 30px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 160%;
  display: flex;
  align-items: center;
  color: #1D1F22;
}
.product-list-container {
  --n: 3;
  display: grid;
  grid-template-rows: auto;
  /* grid-template-columns:1fr 1fr 1fr; */
  /* grid-template-columns: repeat(auto-fill, minmax(300px, 310px)); */
  grid-template-columns: repeat(auto-fill, minmax(max(350px, (100% - (var(--n) - 1)*25px)/var(--n)), 1fr));
  gap: 25px 25px;
  /* background-color: gray; */
  /* padding-left: 50px;
  */
  padding-top: 50px;
  padding-bottom: 50px;
  box-sizing: border-box;
  align-content: center;
  justify-content: center;
  padding: auto;
}
